@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Comfortaa", sans-serif;
}

body {
  background-color: #F0F4FF;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

img,
video,
iframe {
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
span {
  overflow-wrap: anywhere;
}
